<nav>
  <div class="logo">
    <h3> &nbsp;&nbsp;Weather App</h3>
  </div>
  <search (onresult)="updateMarker($event)" style="float:right;margin-right:10px;"></search>


</nav>
<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Instructions: Place the map marker to retrieve the city of which you need to obtain the weather </p>-->

<city *ngIf="city" [name]="city.name" [country]="city.country"></city>
<weather style="display: block;" [city]="city"></weather>
<currency [city]="city"></currency>
<br>

<div class="row">

  <div align="center">
<div style="height: 600px; width: 1000px;">
  <map [marker]="city" [map]="map" (markerChange)="updateMarker($event)"></map>
</div>
  </div>

</div>

<script>
  $('.toggle').click(function () {
    "use strict";
    $('nav ul').slideToggle();
  });



  $(window).resize(function () {
    "use strict";
    if ($(window).width() > 780) {
      $('nav ul').removeAttr('style');
    }
  });

</script>
