/* You can add global styles to this file, and also import other style files */
body
{
  background-color: white;

  /*background-size: cover;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
}

.c-1 {width: 8.33%;}
.c-2 {width: 16.66%;}
.c-3 {width: 25%;}
.c-4 {width: 33.33%;}
.c-5 {width: 41.66%;}
.c-6 {width: 50%;}
.c-7 {width: 58.33%;}
.c-8 {width: 66.66%;}
.c-9 {width: 75%;}
.c-10 {width: 83.33%;}
.c-11 {width: 91.66%;}
.c-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="c-"] {
        width: 100%;
    }
}
