
<div *ngIf="city.isweather" align="center">
  <div>
      <div>
        <img class="icon" src="../../assets/sun.svg" />
      </div>
      <div>
        <div class="row">
          <table>
            <tr>
              <td><b>Temperature</b> {{city.temperature}} ºC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><b>Humidity</b> {{city.humidity}} %&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><b>Wind Speed</b> {{city.wind_speed}} km/h&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><b>Pressure</b> {{city.pressure}} mbar</td>
            </tr>
          </table>
          <br>

        </div>
        <!--<div class="c-4">-->
          <!--<p><b>Temperature</b> {{city.temperature}} ºC</p>-->
        <!--</div>-->
        <!--<div class="c-4">-->
          <!--<p><b>Humidity</b> {{city.humidity}} %</p>-->
        <!--</div>-->
        <!--<div class="c-4">-->
          <!--<p><b>Wind Speed</b> {{city.wind_speed}} km/h</p>-->
        <!--</div>-->
      </div>
  </div>
</div>
<div *ngIf="!city.isweather && city.weather_state=='requested'" align="center">
  <div>
    <img class="icon" src="../../assets/hourglass1.svg" />
  </div>
</div>
<div align="center">
<button class="button5" style="color: white; font-family: Helvetica; align-self: center"  (click)="getweather()">Get Weather</button>
</div>
